# Copy this file to .env and fill in your values
# Never commit .env to git

# PostgreSQL
POSTGRES_USER=cratedigger
POSTGRES_PASSWORD=
POSTGRES_DB=cratedigger

# Spotify API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Last.fm API
LASTFM_API_KEY=
LASTFM_API_SECRET=

# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=
AIRFLOW__CORE__SECRET_KEY=
